<ng-container *transloco="let t">
    <mat-card class="proposal-card word-break small-card">
        <mat-card-content>
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
            <div class="form-container">
                <mat-form-field class="full-width">
                    <mat-label>{{ t("settings.general.tickAddition.placeholder") }}</mat-label>
                    <input matInput type="number" [placeholder]="t('settings.general.tickAddition.placeholder')"
                        formControlName="tickAddition">
                </mat-form-field>
                <mat-slide-toggle formControlName="useBridge">{{ t('settings.general.webBridge.placeholder')
                    }}</mat-slide-toggle>
                    <div class="flex-center">
                        <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">
                            <span>
                                {{ t('settings.general.button.save') }}
                            </span>
                        </button>
                    </div>
            </div>
        </form>    
        </mat-card-content>
    </mat-card>
</ng-container>