<ng-container *transloco="let t">
    <h2 mat-dialog-title>
      <span>{{ t("loadConfigComponent.title")}}</span>
      </h2>
    <mat-dialog-content>
      <div class="imexport">
        <span>{{ t("loadConfigComponent.messages.import") }}</span>        
        <div *ngIf="!importDone" class="flex-center">
          <ngx-file-drop (onFileDrop)="dropped($event)" [dropZoneLabel]="t('settings.import.dropMessage')"
          [showBrowseBtn]="isMobile">
        </ngx-file-drop>
        <br><br>
        <div *ngIf="configToImport" class="flex-center">
          {{ t("settings.import.seedsMessage", { amount: configToImport.seeds.length}) }}               
        </div>
        <div *ngIf="!configToImport" class="flex-center">
          {{ t("loadConfigComponent.messages.noImport") }}                 
        </div>
        <div *ngIf="fileError">
          {{ fileError }}
        </div>
      </div>     
    </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button [disabled]="!configToImport" color="accent" mat-dialog-close (click)="import()">{{ t("loadConfigComponent.buttons.import")}}</button>
      <button mat-raised-button  color="warn" (click)="close()"> {{ t("loadConfigComponent.buttons.cancel")}}</button>
    </mat-dialog-actions>
    </ng-container>