<ng-container *transloco="let t">
    <h1>{{ t("votingComponent.create.title") }}</h1>

    <div *ngIf="proposal?.isPublished">
        {{ t("votingComponent.create.alreadyPublished") }}
        <button [routerLink]="['/voting']" mat-raised-button>
            {{ t("votingComponent.create.cancelButton") }}
        </button>
    </div>

    <div *ngIf="accountBalances.length > 0 && !proposal?.isPublished">
        <mat-card class="transfer-card word-break" *ngIf="hasComputors()">
            <mat-card-content>
                <mat-stepper [linear]="true" #stepper>
                    <mat-step [stepControl]="proposalForm" label="{{ t('votingComponent.create.proposalStep.label') }}"
                        [completed]="this.proposalToPublish !== undefined" [editable]="false">
                        <form [formGroup]="proposalForm" novalidate (ngSubmit)="submitProposalForm()">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field appearance="fill" placeholder="Computor Seed" class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.sourceSeed.label") }}</mat-label>
                                        <mat-select formControlName="computorId">
                                            <mat-option *ngFor="let seed of getComputors()" [value]="seed.publicId">
                                                {{seed.alias}} | {{ seed.publicId }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="proposalForm.controls['computorId'].hasError('required')">
                                            {{ t("votingComponent.create.form.sourceSeed.error.required") }}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.title.placeholder") }}</mat-label>
                                        <input matInput type="text"
                                            [placeholder]="t('votingComponent.create.form.title.placeholder')"
                                            formControlName="title">
                                        <mat-error *ngIf="proposalForm.controls['title'].hasError('required')">
                                            {{ t("votingComponent.create.form.title.error.required") }}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.description.placeholder")
                                            }}</mat-label>
                                        <textarea matInput cdkTextareaAutosize class="description"
                                            [placeholder]="t('votingComponent.create.form.description.placeholder')"
                                            formControlName="description"></textarea>
                                        <mat-error *ngIf="proposalForm.controls['description'].hasError('required')">
                                            {{ t("votingComponent.create.form.description.error.required") }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.option.placeholder", {id: 1})
                                            }}</mat-label>
                                        <input matInput type="text"
                                            [placeholder]="t('votingComponent.create.form.option.placeholder', {id: 1})"
                                            formControlName="option1">
                                        <mat-error *ngIf="proposalForm.controls['option1'].hasError('required')">
                                            {{ t("votingComponent.create.form.option.error.required", {id: 1}) }}
                                        </mat-error>
                                    </mat-form-field><mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.option.placeholder", {id: 2})
                                            }}</mat-label>
                                        <input matInput type="text"
                                            [placeholder]="t('votingComponent.create.form.option.placeholder', {id: 2})"
                                            formControlName="option2">
                                        <mat-error *ngIf="proposalForm.controls['option2'].hasError('required')">
                                            {{ t("votingComponent.create.form.option.error.required", {id: 2}) }}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.option.placeholder", {id: 3})
                                            }}</mat-label>
                                        <input matInput type="text"
                                            [placeholder]="t('votingComponent.create.form.option.placeholder', {id: 3})"
                                            formControlName="option3">
                                        <mat-error *ngIf="proposalForm.controls['option3'].hasError('required')">
                                            {{ t("votingComponent.create.form.option.error.required", {id: 3}) }}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.option.placeholder", {id: 4})
                                            }}</mat-label>
                                        <input matInput type="text"
                                            [placeholder]="t('votingComponent.create.form.option.placeholder', {id: 4})"
                                            formControlName="option4">
                                        <mat-error *ngIf="proposalForm.controls['option4'].hasError('required')">
                                            {{ t("votingComponent.create.form.option.error.required", {id: 4}) }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">

                                    <mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.option.placeholder", {id: 5})
                                            }}</mat-label>
                                        <input matInput type="text"
                                            [placeholder]="t('votingComponent.create.form.option.placeholder', {id: 5})"
                                            formControlName="option5">
                                        <mat-error *ngIf="proposalForm.controls['option5'].hasError('required')">
                                            {{ t("votingComponent.create.form.option.error.required", {id: 5}) }}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.option.placeholder", {id: 6})
                                            }}</mat-label>
                                        <input matInput type="text"
                                            [placeholder]="t('votingComponent.create.form.option.placeholder', {id: 6})"
                                            formControlName="option6">
                                        <mat-error *ngIf="proposalForm.controls['option6'].hasError('required')">
                                            {{ t("votingComponent.create.form.option.error.required", {id: 6}) }}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.option.placeholder", {id: 7})
                                            }}</mat-label>
                                        <input matInput type="text"
                                            [placeholder]="t('votingComponent.create.form.option.placeholder', {id: 7})"
                                            formControlName="option7">
                                        <mat-error *ngIf="proposalForm.controls['option7'].hasError('required')">
                                            {{ t("votingComponent.create.form.option.error.required", {id: 7}) }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" type="submit"
                                    [disabled]="!proposalForm.valid">{{
                                    t("votingComponent.create.buttons.create") }}</button>
                                <button mat-raised-button (click)="stepper.reset()">{{
                                    t("votingComponent.create.buttons.reset") }}</button>
                                <button [routerLink]="['/voting']" mat-raised-button type="button">
                                    {{ t("votingComponent.create.cancelButton") }}
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="publishForm" label="{{ t('votingComponent.create.publishStep.label') }}"
                        [completed]="this.isPublished" [editable]="false">
                        <form [formGroup]="publishForm" novalidate (ngSubmit)="submitPublishForm()">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field appearance="fill" placeholder="Operator Seed" class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.operatorSeed.label") }}</mat-label>
                                        <mat-select formControlName="operatorId">
                                            <mat-option *ngFor="let seed of getSeeds()" [value]="seed.publicId">
                                                {{seed.alias}} | {{ seed.publicId }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="publishForm.controls['operatorId'].hasError('required')">
                                            {{ t("votingComponent.create.form.sourceSeed.error.required") }}
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <mat-label>{{ t("votingComponent.create.form.computorIp.placeholder", {id: 7})
                                            }}</mat-label>
                                        <input matInput type="text"
                                            [placeholder]="t('votingComponent.create.form.computorIp.placeholder', {id: 7})"
                                            formControlName="computorIp">
                                        <mat-error *ngIf="publishForm.controls['computorIp'].hasError('required')">
                                            {{ t("votingComponent.create.form.computorIp.error.required", {id: 7}) }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div>
                                <div class="lds-grid" *ngIf="isPublishing"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                <div *ngIf="!isPublishing">
                                    <button *ngIf="!walletService.privateKey" mat-raised-button color="accent" type="button"
                                        (click)="loadKey()">{{
                                        t("votingComponent.create.buttons.loadPrivateKey") }}</button>
                                    <button *ngIf="walletService.privateKey" mat-raised-button color="primary" type="submit"
                                        [disabled]="!proposalForm.valid">{{
                                        t("votingComponent.create.buttons.publish") }}</button>
                                    <button mat-raised-button (click)="stepper.reset()">Reset</button>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step label="{{ t('votingComponent.create.finishStep.label') }}">
                        <p>{{ t('votingComponent.create.finishStep.success') }}</p>
                        <div>
                            <button mat-raised-button color="primary" [routerLink]="['/voting']" type="button"
                                >{{ t("votingComponent.create.buttons.finish") }}</button>
                        </div>
                    </mat-step>
                </mat-stepper>
            </mat-card-content>
            <mat-card-actions class="padding">



            </mat-card-actions>
        </mat-card>
    </div>
</ng-container>