<ng-container *transloco="let t">
    <div>
        <div class="title">
            <img src="assets/logos/Logo_light.webp" class="logo-title" *ngIf="themeService.isDarkTheme">
            <img src="assets/logos/Logo_dark.webp" class="logo-title" *ngIf="!themeService.isDarkTheme">
        </div>
        <div class="info">
            {{ t("welcomeComponent.welcomeMessage") }}
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" [routerLink]="['create']">{{ t("welcomeComponent.button.createVault") }}</button>
            <button mat-raised-button color="accent" [routerLink]="['import']">{{ t("welcomeComponent.button.importVault") }}</button>
        </div>
    </div>
</ng-container>