.wallet-icon {
    height: 100px;
}
.buttons-horizontal{
    flex-direction: column;
    button {
        padding-left: 48px;
        padding-right: 48px;
    }
}
.welcome-content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 16px;
}