<ng-container *transloco="let t">    
  <div class="content_container">
    <h1>{{ t("votingComponent.title") }}</h1>
    <div *ngIf="accountBalances.length <= 0 && hasSeeds()">
        {{ t("general.loading") }}
    </div>
    <div *ngIf="accountBalances.length > 0">
        <div *ngIf="hasComputors()">
            <button [routerLink]="['/voting/create']" mat-raised-button color="accent">
                {{ t("votingComponent.proposals.createButton") }}
            </button>
        </div>
        <div *ngIf="!hasComputors()">
            {{ t("votingComponent.proposals.noComputorHint") }}
        </div>
        <br>
        <h2> {{ t("votingComponent.proposals.title", {amount: proposals?.length}) }}</h2>
        <mat-card class="proposal-card word-break" *ngFor="let p of proposals">
            <mat-card-content>
                <app-voting-status [proposal]="p"></app-voting-status>
                {{ t("votingComponent.proposals.from") }}<br>
                <div class="copy" [matTooltip]="t('general.copy.tooltip')" [cdkCopyToClipboard]="p.computorId">
                    {{p.shortCode}} | {{p.computorId}} {{getSeedName(p.computorId)}}
                </div>
                {{ t("votingComponent.proposals.url") }}<br>
                <a href="{{p.url}}" target="_blank">{{p.url}}</a><br>
                <div *ngIf="p.published">
                    Published: <br>{{p.published}} @ {{p.publishedTick}}
                </div>
                <div *ngIf="!p.published">
                    Publish in progress... (in ~{{p.tickForPublish}} ticks)
                </div>
                <div class="proposal">

                    <h2>{{ t("votingComponent.proposals.votingResult") }}</h2>
                    <div *ngIf="!p.hasVotes">
                        {{ t("votingComponent.proposals.noVotes") }}
                    </div>
                    <div *ngIf="p.hasVotes">
                        <div *ngFor="let s of p.resultSummary | keyvalue">
                            <div [class]="{mostVotes: s.value.length === p.mostVotes}">
                                Option {{s.key}}: {{s.value.length}} <span *ngIf="s.value.length > 1">Votes</span><span
                                    *ngIf="s.value.length === 1">Vote</span>
                            </div>
                        </div>
                    </div>
                    <hr *ngIf="hasComputors()">
                    <button *ngIf="hasComputors() && p.isPublished"
                        [routerLink]="['/voting/participate/', p.computorIndex]" mat-raised-button color="accent">
                        <mat-icon>how_to_vote</mat-icon> {{ t("votingComponent.proposals.voteButton") }}
                    </button>
                    <button *ngIf="isOwnId(p.computorId) && !p.isPublished"
                        [routerLink]="['/voting/create/', p.computorId]" mat-raised-button>
                        <mat-icon>edit</mat-icon> {{ t("votingComponent.proposals.editButton") }}
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <br>
    <mat-card class="transfer-card">
        <mat-card-content>
            <div>
                {{ t("votingComponent.description") }}
            </div>
        </mat-card-content>
    </mat-card>
  </div>
</ng-container>