<ng-container *transloco="let t">
<h2 mat-dialog-title>{{t("revealSeedComponent.title")}}</h2>
<mat-dialog-content>
      <div class="seedInput">
        <strong>{{t("revealSeedComponent.publicId")}}</strong>
        <div class="copy" [matTooltip]="t('general.copy.tooltip')" [cdkCopyToClipboard]="data.publicId">
          {{data.publicId}}
        </div>
        <strong>{{t("revealSeedComponent.privateId")}}</strong>
        <div class="copy" [matTooltip]="t('general.copy.tooltip')" [cdkCopyToClipboard]="s">
          {{s}}
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button  mat-dialog-close>{{t("revealSeedComponent.buttons.close")}}</button>
</mat-dialog-actions>
</ng-container>