.important {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 1.5em;
}

.seedInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    mat-form-field {
    width:100%;
}

}
