.seedList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        font-weight: bold;
        margin-bottom: 0px;;
    }
}
.mobileSeedItem {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.mobileActionLine {
    display: flex;
    flex-wrap: wrap;
}
.epochChanges {
    display: flex;
    align-items: center;
}
.down, .up{
    display: none;
}
.straight{
    display: inline;
}
.isPositiv {
    color: green;
    .down, .straight{
        display: none;
    }
    .up{
        display: inline;
    }
}
.isNegativ {
    color: red;
    .up, .straight{
        display: none;
    }
    .down{
        display: inline;
    }
}
