.important {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 1.5em;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
    mat-form-field {
        width:100%;
    }
    .seedInput {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:100%;
    }
    
}

.puglicIdView {
    display: flex;
    flex-direction: column;
    row-gap: 5px;;
    align-items: center;
    width: 100%;
    .keywarning{
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
}