form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
    mat-form-field {
        width:100%;
    }
    .seedInput {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:100%;
    }
    
}

.puglicIdView {
    display: flex;
    flex-direction: column;
    row-gap: 5px;;
    align-items: center;
    width: 100%;
    .keywarning{
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
}

.danger {
    display:flex;
    justify-content: center;
}
.dialog-container {
    min-width: 350px;
}
.load-key-container {
    width:100%;
    display: flex;
    justify-content: center;
    button {
        min-width: 90%;
    }
}