<div *transloco="let t">
<h2 mat-dialog-title><span *ngIf="isNew">{{ t("seedEditComponent.title.add") }}</span><span *ngIf="!isNew">{{ t("seedEditComponent.title.edit") }}</span></h2>
<mat-dialog-content>
    <form [formGroup]="seedEditForm" novalidate (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>{{ t("seedEditComponent.form.alias.placeholder") }}</mat-label>
        <input matInput  [placeholder]="t('seedEditComponent.form.alias.placeholder')" formControlName="alias" type="text">
        <mat-error *ngIf="seedEditForm.controls['alias'].hasError('required')">
          {{ t("seedEditComponent.form.alias.error.required")}}
        </mat-error>
        <mat-error *ngIf="seedEditForm.controls['alias'].hasError('minlength')">
          {{ t("seedEditComponent.form.alias.error.min")}}
        </mat-error>
        <mat-error *ngIf="seedEditForm.controls['alias'].hasError('maxlength')">
          {{ t("seedEditComponent.form.alias.error.max")}}
        </mat-error>
        <mat-error *ngIf="seedEditForm.controls['alias'].hasError('pattern')">
          {{ t("seedEditComponent.form.alias.error.regex", {regex: "a-zA-Z0-9_-"})}}
        </mat-error>
      </mat-form-field>
      <div class="flex" class="danger">
        <mat-icon>warning</mat-icon><div [innerHTML]="t('seedEditComponent.seedWarning')"></div>  <mat-icon>warning</mat-icon>
      </div>
      <div class="seedInput" *ngIf="isNew">
        
        <mat-form-field class="full-width">
          <mat-label>{{ t("seedEditComponent.form.seed.placeholder") }}</mat-label>
          <input matInput [placeholder]="t('seedEditComponent.form.seed.placeholder')" formControlName="seed" type="text">
          <mat-error *ngIf="seedEditForm.controls['seed'].hasError('required')">
            {{ t("seedEditComponent.form.seed.error.required")}}
          </mat-error>
          <mat-error *ngIf="seedEditForm.controls['seed'].hasError('minlength')">
            {{ t("seedEditComponent.form.seed.error.min")}}
          </mat-error>
          <mat-error *ngIf="seedEditForm.controls['seed'].hasError('maxlength')">
            {{ t("seedEditComponent.form.seed.error.max")}}
          </mat-error>
          <mat-error *ngIf="seedEditForm.controls['seed'].hasError('pattern')">
            {{ t("seedEditComponent.form.seed.error.regex", {regex: "a-zA-Z0-9_-"})}}
          </mat-error>
        </mat-form-field>
        <button *ngIf="!seed?.seed || seed.seed != ''" mat-icon-button [title]="t('seedEditComponent.form.seed.generateSeed')" type="button" (click)="generateSeed();">
          <mat-icon>shuffle</mat-icon>
        </button>
      </div>
      <div *ngIf="getPublicId()" class="puglicIdView">
        <strong>{{ t("seedEditComponent.publicIdMessage")}}</strong><br>
        <div class="copy" matTooltip="{{ t('general.copy.tooltip') }}" [cdkCopyToClipboard]="getPublicId()">{{getPublicId()}}</div>
        <div *ngIf="!walletService.privateKey" class="keywarning">
          <br>
          {{ t("seedEditComponent.privateKeyWarning")}}
        </div>
      </div>
      
    </form>
    
    
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button  mat-dialog-close> {{ t("seedEditComponent.buttons.cancel")}}</button>
  <button mat-raised-button *ngIf="!getPublicId()" color="primary" (click)="saveSeed()"><span *ngIf="isNew">{{ t("seedEditComponent.buttons.create")}}</span><span *ngIf="!isNew">{{ t("seedEditComponent.buttons.save")}}</span></button>
  <button mat-raised-button *ngIf="getPublicId()" [mat-dialog-close]="true" color="primary" (click)="saveSeed()"><span *ngIf="isNew">{{ t("seedEditComponent.buttons.create")}}</span><span *ngIf="!isNew">{{ t("seedEditComponent.buttons.save")}}</span></button>
</mat-dialog-actions>
</div>