<ng-container *transloco="let t">
    <h1>{{ t("votingComponent.participate.title") }}</h1>
    <div *ngIf="accountBalances.length > 0">
        <mat-card class="transfer-card word-break" *ngIf="!hasComputors()">
            {{ t("votingComponent.participate.noComputorsText") }}
            
        </mat-card>
        <mat-card class="transfer-card word-break" *ngIf="hasComputors()">
            <mat-card-content>
                <div class="proposal" *ngFor="let p of proposals">
                    <a href="{{p.url}}" target="_blank">{{p.url}}</a>
                    <br><br>
                    <mat-form-field>
                        <mat-select [(value)]="votes[p.computorIndex!]">
                            <mat-option value="1">Option 1</mat-option>
                            <mat-option value="2">Option 2</mat-option>
                            <mat-option value="3">Option 3</mat-option>
                            <mat-option value="4">Option 4</mat-option>
                            <mat-option value="5">Option 5</mat-option>
                            <mat-option value="6">Option 6</mat-option>
                            <mat-option value="7">Option 7</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <hr>
                </div>

                <div>
                    <section class="example-section">
                        <span class="example-list-section">
                            <mat-checkbox class="example-margin" [checked]="allComputors"
                                [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                                {{computorTree.name}}
                            </mat-checkbox>
                        </span>
                        <span class="example-list-section">
                            <ul>
                                <li *ngFor="let subtask of computorTree.subComputors">
                                    <mat-checkbox [checked]="subtask.completed"
                                        (change)="setComputor(subtask, $event.checked)"
                                        (ngModelChange)="updateAllComplete()">
                                        {{subtask.name}}
                                        <mat-icon *ngIf="subtask.published">done</mat-icon>
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </span>
                    </section>
                </div>
                <hr>
                <form [formGroup]="publishForm" novalidate>
                    <div class="col">
                        <mat-form-field appearance="fill" placeholder="Operator Seed" class="full-width">
                            <mat-label>{{ t("votingComponent.create.form.operatorSeed.label") }}</mat-label>
                            <mat-select formControlName="operatorId">
                                <mat-option *ngFor="let seed of getSeeds()" [value]="seed.publicId">
                                    {{seed.alias}} | {{ seed.publicId }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="publishForm.controls['operatorId'].hasError('required')">
                                {{ t("votingComponent.create.form.sourceSeed.error.required") }}
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>{{ t("votingComponent.create.form.computorIp.placeholder", {id: 7})
                                }}</mat-label>
                            <input matInput type="text"
                                [placeholder]="t('votingComponent.create.form.computorIp.placeholder', {id: 7})"
                                formControlName="computorIp">
                            <mat-error *ngIf="publishForm.controls['computorIp'].hasError('required')">
                                {{ t("votingComponent.create.form.computorIp.error.required", {id: 7}) }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <hr>
                {{getSelectedComputorCount()}} {{ t("votingComponent.participate.computorsSelected") }}
                <hr>
                <div class="lds-grid" *ngIf="isPublishing"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                <button *ngIf="isPublishing" mat-raised-button (click)="cancelPublish()"  type="button">
                    {{ t("votingComponent.participate.cancelButton") }}
                </button>
                <div *ngIf="!isPublishing">
                    <button mat-raised-button *ngIf="walletService.privateKey" color="primary" [disabled]="!publishForm.valid || getSelectedComputorCount() <= 0"
                        (click)="sendVotes()"
                    >
                        <mat-icon>how_to_vote</mat-icon> {{ t("votingComponent.participate.sendVotesButton") }}
                    </button>
                    <button *ngIf="!walletService.privateKey" mat-raised-button color="accent" type="button"
                        (click)="loadKey()">{{
                        t("votingComponent.create.buttons.loadPrivateKey") }}</button>
                        <button [routerLink]="['/voting']" mat-raised-button  type="button">
                            {{ t("votingComponent.participate.cancelButton") }}
                        </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>