<ng-container *transloco="let t">
<h2 mat-dialog-title>
  <span *ngIf="keyDownload"> {{ t("lockComponent.forceDownload.title")}}</span>
  <span *ngIf="!keyDownload"> {{ t("lockComponent.title")}}</span>
  </h2>
<mat-dialog-content>
    <span *ngIf="!keyDownload">
      {{ t("lockComponent.forceDownload.reason")}}
    </span>
    <span *ngIf="keyDownload">
      {{ t("lockComponent.reason")}}
      
    </span>
    <div *ngIf="walletService.shouldExportKey || showSave || keyDownload">
      <br>
      <hr>
      <div class="important">
        <mat-icon>warning</mat-icon> {{ t("lockComponent.warning")}} <mat-icon>warning</mat-icon>
      </div>
      <hr>
      <form [formGroup]="exportForm" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <input matInput placeholder="{{ t('lockComponent.password.placeholder') }}" formControlName="password" type="password">
          <mat-error *ngIf="exportForm.controls['password'].hasError('required')">
            {{ t("lockComponent.password.required")}}
          </mat-error>
          <mat-error *ngIf="exportForm.controls['password'].hasError('minlength')">
            {{ t("lockComponent.password.min")}}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">{{ t("lockComponent.buttons.savePrivateKey") }}</button>
      </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button  color="primary" mat-dialog-close *ngIf="keyDownload">  {{ t("lockComponent.forceDownload.buttons.allOk")}}</button>
  <button mat-raised-button  color="warn" (click)="closeWallet()" *ngIf="!keyDownload"> {{ t("lockComponent.buttons.closeWallet")}}</button>
  <button mat-raised-button *ngIf="walletService.privateKey" (click)="toggleShowSave()"> {{ t("lockComponent.buttons.enableExport")}}</button>
  <button mat-raised-button  mat-dialog-close *ngIf="!keyDownload"> {{ t("lockComponent.buttons.cancel")}}</button>
</mat-dialog-actions>
</ng-container>