form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
}
.file-input {
    display: none;
}
.password-container {
    margin-top: 16px;
    margin-bottom:16px;
}