.alert {
    border: 1px solid red;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
}

.transaction-list {

    .center {
        text-align: center;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    column-gap: 10px;
    margin: 10px;

    .send-receive-indicator {
        min-width: 50px;
    }
    .receive {
        color: green;
    }

    .send {
        color: red;
    }

    .trans-date {
        font-size: 0.8em;
    }

    .trans-amount {
        padding: 5px;
        font-weight: bold;
        min-width: 180px;
    }

    .ownId {
        font-weight: bold;
    }

    .copy {
        width: inherit;

    }


    

    .copy span{
        word-break: break-all;
    }
}

.full-width {
    width: 100%;
}

/* see mobile styles in styles.css */