<ng-container *transloco="let t">
    <h1>{{ t("balanceComponent.title") }}</h1>
    <div *ngIf="accountBalances.length > 0">
        <mat-card class="transfer-card">
            <mat-card-header>
                <mat-card-title>
                    <h2> {{ t("balanceComponent.overview.title") }}</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    {{ t("balanceComponent.overview.estimatedWalletValue") }} <strong>{{ getTotalBalance(true) | number: '1.0-0' }} {{ t("general.currency") }}</strong>
                    {{ t("balanceComponent.overview.baseDate")}} {{ getDate() | date }}<br><br>
                    {{ t("balanceComponent.overview.totalWalletValue") }} <strong>{{ getTotalBalance() | number: '1.0-0' }} {{ t("general.currency") }}</strong>
                    {{ t("balanceComponent.overview.baseDate")}} {{ accountBalances[0].baseDate | date }}
                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="transfer-card">
            <mat-card-header>
                <mat-card-title>
                    <h2> {{ t("balanceComponent.transactions.title") }}</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>{{ t("balanceComponent.transactions.filter.seed.label") }}</mat-label>
                    <mat-select [formControl]="seedFilterFormControl">
                        <mat-option *ngFor="let seed of getSeeds()" [value]="seed.publicId">
                            {{seed.alias}} | {{ seed.publicId }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="getTransactions().length <= 0">
                    {{ t("balanceComponent.transactions.noTransactions") }}
                </div>
                <div *ngFor="let transaction of getTransactions(seedFilterFormControl.value)" class="transaction-list">
                    <qli-transfer-status [transaction]="transaction"></qli-transfer-status>
                    <div class="center">
                        <div class="trans-amount currency-value">
                            <a *ngIf="transaction.id.substring(56) !== 'aaaa'" [href]="'https://app.qubic.li/network/explorer/tx/' + transaction.id" target="_blank" matTooltip="{{ t('balanceComponent.transactions.explorer.tooltip') }}">
                                <mat-icon>manage_search</mat-icon>
                            </a> 
                            <span [class]="{noMoneyFlow: !transaction.isPending && !transaction.moneyFlow}">
                            {{ transaction.amount | number: '1.0-0' }}</span>&nbsp;{{ t("general.currency") }}
                        </div>
                        <div class="trans-date"> Tick: <a [href]="'https://app.qubic.li/network/explorer/block/' + transaction.targetTick" target="_blank">{{ transaction.targetTick | number: '1.0-0' }}</a></div>
                    </div>
                    <div class="send-receive-indicator">
                        <button *ngIf="isOwnId(transaction.sourceId) && currentTick > transaction.targetTick && transaction.status !== 'Pending'" mat-icon-button matTooltip="{{ t('balanceComponent.repeatTransaction') }}" (click)="repeat(transaction)"><mat-icon>repeat</mat-icon></button>
                        <mat-icon class="send" matTooltip="{{ t('balanceComponent.transactions.send.tooltip') }}"
                            *ngIf="isOwnId(transaction.sourceId) && !isOwnId(transaction.destId)">arrow_downward</mat-icon>
                        <mat-icon class="receive" matTooltip="{{ t('balanceComponent.transactions.receive.tooltip') }}"
                            *ngIf="isOwnId(transaction.destId) && !isOwnId(transaction.sourceId)">arrow_upward</mat-icon>
                        <mat-icon class="receive" matTooltip="{{ t('balanceComponent.transactions.exchange.tooltip') }}"
                            *ngIf="isOwnId(transaction.sourceId) && isOwnId(transaction.destId)">swap_vert</mat-icon>
                    </div>
                    <div>
                        <div [class]="{copy: true, ownId: isOwnId(transaction.sourceId)}">
                            From: <span matTooltip="{{ t('general.copy.tooltip') }}" [cdkCopyToClipboard]="transaction.sourceId">{{ transaction.sourceId }} {{ getSeedName(transaction.sourceId) }}</span>
                        </div>
                        <div [class]="{copy: true, ownId: isOwnId(transaction.destId)}">To: <span
                                matTooltip="{{ t('general.copy.tooltip') }}" [cdkCopyToClipboard]="transaction.destId">{{ transaction.destId }} {{ getSeedName(transaction.destId) }}</span></div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="accountBalances.length <= 0 && hasSeeds()">
        loading...
    </div>
    <div *ngIf="!hasSeeds()">
        <button [routerLink]="['/']" mat-raised-button>
            {{ t("balanceComponent.createSeedHint") }}
        </button>
    </div>
</ng-container>