<ng-container *transloco="let t">
  <div>
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
      <mat-step [completed]="vaultCreated" [editable]="false">
        <ng-template matStepLabel>{{ t('createVaultComponent.createVault.stepTitle') }}  {{ getVaultName() }}</ng-template>
        {{ t('createVaultComponent.createVault.message') }}
        <br /><br />
        <form [formGroup]="createVaultForm">
          <mat-form-field class="full-width">
            <mat-label>{{ t('createVaultComponent.createVault.vaultName') }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="name"
              placeholder="Choose a name for your Vault"
              required
            />
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="createVault()" [disabled]="!createVaultForm.valid">
            {{ t('createVaultComponent.createVault.button') }}
          </button>
        </form>
      </mat-step>
      <mat-step [completed]="addressCreated" [editable]="false">
        <ng-template matStepLabel>{{ t('createVaultComponent.createAddress.title') }} {{ getVaultName() }}</ng-template>
        {{ t('createVaultComponent.createAddress.message') }}
        <br /><br />
        <form [formGroup]="createAddressForm">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ t('createVaultComponent.createAddress.addressNam') }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="name"
              placeholder="{{ t('createVaultComponent.createAddress.addressPlaceholder') }}"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ t('createVaultComponent.createAddress.seed') }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="seed"
              placeholder="{{ t('createVaultComponent.createAddress.seedPlaceholder') }}"
              required
            />
            
          </mat-form-field>
          <div *ngIf="generatedPublicId.length === 60" class="word-break">
            <strong>{{ t('createVaultComponent.createAddress.publicId') }}</strong><br>
          {{
            generatedPublicId
          }}</div>
          <div class="flex full-width button-container">
            <button mat-raised-button color="accent" (click)="randomizeSeed()">
              {{ t('createVaultComponent.createAddress.radomizeSeed') }}
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="createAddress()"
              [disabled]="!this.createAddressForm.valid"
            >
              {{ t('createVaultComponent.createAddress.button') }}
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [completed]="vaultExported" [editable]="true">
        <form [formGroup]="vaultPasswordFormGroup">
          <ng-template matStepLabel>{{ t('createVaultComponent.downloadVault.stepTitle') }} {{ getVaultName() }}</ng-template>
          {{ t('createVaultComponent.downloadVault.message') }}
          <br /><br />

          <mat-form-field>
            <mat-label>{{ t('createVaultComponent.downloadVault.password') }}</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="{{ t('createVaultComponent.downloadVault.passwordHint') }}"
              required
            />
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            (click)="exportVault()"
            [disabled]="!vaultPasswordFormGroup.valid"
          >
            {{ t('createVaultComponent.downloadVault.button') }}
          </button>
        </form>
      </mat-step>
      <mat-step [completed]="vaultVerified" [editable]="false">
        <form [formGroup]="verifyVaultFormGroup">
          <ng-template matStepLabel>{{ t('createVaultComponent.verifyVault.stpTitle') }} {{ getVaultName() }}</ng-template>
          {{ t('createVaultComponent.verifyVault.message') }}
          <br /><br />
          <mat-form-field>
            <mat-label>{{ t('createVaultComponent.verifyVault.password') }}</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="{{ t('createVaultComponent.verifyVault.passwordHint') }}"
              required
            />
          </mat-form-field>
          <app-file-selector
          class="flex flex-halign-left"
          (fileSelected)="onFileSelected($event)"
          requredText="{{ t('unlockComponent.form.file.error.required') }}"
          selectFileText="{{ t('unlockComponent.choosePrivateKeyFile') }}"
        ></app-file-selector>
          <button
            mat-raised-button
            color="primary"
            (click)="verifyVault()"
            [disabled]="!verifyVaultFormGroup.valid || !selectedFileIsVaultFile"
          >
            {{ t('createVaultComponent.verifyVault.button') }}
          </button>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ t('createVaultComponent.done.stepTitle') }}  {{ getVaultName() }}</ng-template>
        <p>{{ t('createVaultComponent.done.message') }}</p>
        <div>
          <button mat-raised-button color="primary" (click)="openWallet()">
            {{ t('createVaultComponent.done.button') }}
          </button>
        </div>
      </mat-step>
    </mat-stepper>

    <div class="button-container">
      <button mat-raised-button [routerLink]="['/']">{{ t('createVaultComponent.buttons.cancel') }}</button>
      <button mat-raised-button (click)="reset()">{{ t('createVaultComponent.buttons.reset') }}</button>
    </div>
  </div>
</ng-container>
