<ng-container *transloco="let t">
    <h1>{{ t("ipoComponent.place-bid.title") }}</h1>
    <div *ngIf="balances.length <= 0">
        {{ t("ipoComponent.place-bid.needBalance") }}
    </div>
    <div *ngIf="!ipoContract">
        {{ t("ipoComponent.place-bid.noContract") }}<br><br>
        <a [routerLink]="['/ipo']">{{ t("ipoComponent.place-bid.noContract.gotoIpoLabel") }}</a>
    </div>
    <div *ngIf="balances.length > 0 && ipoContract">
        <form [formGroup]="ipoForm" novalidate (ngSubmit)="onSubmit()">
            <mat-card class="transfer-card">
                <mat-card-content>
                    <div class="row">
                        <h2>{{ ipoContract.name }} ({{ ipoContract.index }})</h2>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="fill" placeholder="Sender Seed" class="full-width">
                                <mat-label>{{ t("paymentComponent.form.sourceSeed.label") }}</mat-label>
                                <mat-select formControlName="sourceId">
                                    <mat-option *ngFor="let seed of getSeeds()" [value]="seed.publicId">
                                        {{seed.alias}} | {{ seed.publicId }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="ipoForm.controls['sourceId'].hasError('required')">
                                    {{ t("paymentComponent.form.sourceSeed.error.required") }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <mat-label>{{ t("ipoComponent.place-bid.form.price.placeholder") }}</mat-label>
                                <input matInput type="number"
                                    [placeholder]="t('ipoComponent.place-bid.form.price.placeholder')"
                                    formControlName="price">
                                <button *ngIf="ipoForm.controls['price'].value" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="ipoForm.controls['price'].setValue(null)"
                                    type="button">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button *ngIf="maxAmount > 0" matSuffix mat-icon-button
                                    matTooltip="{{ t('ipoComponent.place-bid.form.price.max.tooltip') }}"
                                    (click)="setAmounToMax()" type="button">
                                    <mat-icon>all_inclusive</mat-icon>
                                </button>
                                <mat-error *ngIf="ipoForm.controls['price'].hasError('required')">
                                    {{ t("ipoComponent.place-bid.form.price.error.required") }}
                                </mat-error>
                                <mat-error *ngIf="ipoForm.controls['price'].hasError('min')">
                                    {{ t("ipoComponent.place-bid.form.price.error.min") }}
                                </mat-error>
                                <mat-hint  align="end">{{
                                    getTotalAmount() | number: '1.0-0' }} <span *ngIf="ipoForm.controls.sourceId.value"> / {{ maxAmount | number: '1.0-0' }}</span> {{ t("general.currency") }}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <mat-label>{{ t("ipoComponent.place-bid.form.quantity.placeholder") }}</mat-label>
                                <input matInput type="number"
                                    [placeholder]="t('ipoComponent.place-bid.form.quantity.placeholder')" formControlName="quantity" >
                                <mat-error *ngIf="ipoForm.controls['quantity'].hasError('required')">
                                    {{ t("ipoComponent.place-bid.form.quantity.error.required") }}
                                </mat-error>
                                <mat-error *ngIf="ipoForm.controls['quantity'].hasError('min')">
                                    {{ t("ipoComponent.place-bid.form.quantity.error.min", {currentTick: currentTick}) }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <mat-label>{{ t("paymentComponent.form.tick.placeholder") }}</mat-label>
                                <input matInput type="number"
                                    [placeholder]="t('paymentComponent.form.tick.placeholder')" formControlName="tick"
                                    [readonly]="!tickOverwrite">
                                <mat-error *ngIf="ipoForm.controls['tick'].hasError('required')">
                                    {{ t("paymentComponent.form.tick.error.required") }}
                                </mat-error>
                                <mat-error *ngIf="ipoForm.controls['tick'].hasError('min')">
                                    {{ t("paymentComponent.form.tick.error.min", {currentTick: currentTick}) }}
                                </mat-error>
                                <button matSuffix mat-icon-button
                                    matTooltip="{{ t('paymentComponent.form.tick.customize.tooltip') }}"
                                    (click)="tickOverwrite = !tickOverwrite" type="button"
                                    [class]="{tickOverwrite: tickOverwrite}">
                                    <mat-icon>tune</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="padding">
                    <button mat-raised-button color="accent" type="submit"
                        [disabled]="!ipoForm.valid || !walletService.privateKey">{{
                        t("ipoComponent.place-bid.buttons.send") }}</button>
                    <button mat-raised-button color="primary" type="button" (click)="ipoForm.reset()">{{
                        t("paymentComponent.buttons.reset") }}</button>
                    <div *ngIf="!walletService.privateKey">
                        <button mat-raised-button color="warn" type="button" (click)="loadKey()">{{
                            t("paymentComponent.buttons.loadPrivateKey") }}</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</ng-container>