<ng-container *transloco="let t">    
  <div class="content_container">
    <h1>{{ t("ipoComponent.title") }}</h1>
    <div *ngIf="ipoContracts.length <= 0 && !loaded">
        {{ t("general.loading") }}
    </div>
    <div *ngIf="ipoContracts.length <= 0  && loaded">
        {{ t("ipoComponent.noIpos") }}
    </div>
    <div *ngIf="ipoContracts.length > 0">
        <mat-card class="proposal-card word-break" *ngFor="let p of ipoContracts">
            <mat-card-content>
                <h2>{{ p.name }}</h2>
                <button [routerLink]="['/ipo/participate/', p.index]" mat-raised-button color="primary">
                    <mat-icon>payments</mat-icon> {{ t("ipoComponent.buttons.place-bid") }}
                </button>
                <button mat-raised-button (click)="init()">
                    <mat-icon>refresh</mat-icon> {{ t("ipoComponent.buttons.refresh") }}
                </button>
                <button mat-raised-button (click)="openStats()">
                    <mat-icon>query_stats</mat-icon> {{ t("ipoComponent.livPanelHint") }}
                </button>
                <div *ngIf="ipoContracts">
                    <h3>{{ t("ipoComponent.yourShares") }}</h3>
                    {{ t("ipoComponent.statusValid", {tick: getBidOverview(p.index).tick}) }}
                    <div *ngFor="let bid of getMyShares(p.index)" class="transaction-list">
                        <strong>{{ bid.bids.length }} ({{ getTotalPrice(bid.bids) | number: '1.0-0'}} {{
                            t("general.currency") }})</strong> {{ t("ipoComponent.sharesFor") }}
                        <div [class]="{copy: true, ownId: isOwnId(bid.computorId)}">
                            <span matTooltip="{{ t('general.copy.tooltip') }}"
                                    [cdkCopyToClipboard]="bid.computorId">{{ bid.computorId }} {{
                                    getSeedName(bid.computorId) }}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="ipoBids.length > 0">
                    <h3>{{ t("ipoComponent.yourBids") }}</h3>
                    <div *ngFor="let transaction of ipoBids" class="transaction-list">
                        <qli-transfer-status [transaction]="transaction"></qli-transfer-status>
                        <div class="center">
                            <div class="trans-amount currency-value">{{ transaction.price | number: '1.0-0' }} {{
                                t("general.currency") }} / {{ transaction.quantity | number: '1.0-0' }} {{
                                t("ipoComponent.bidStatus.pcs") }} </div>
                            <div class="trans-date"> Tick: {{ transaction.targetTick | number: '1.0-0' }} </div>
                        </div>
                        <div class="send-receive-indicator">
                            <button
                                *ngIf="isOwnId(transaction.sourceId) && currentTick > transaction.targetTick && transaction.status !== 'Pending'"
                                mat-icon-button matTooltip="{{ t('balanceComponent.repeatTransaction') }}"
                                (click)="repeat(transaction)"><mat-icon>repeat</mat-icon></button>
                            <mat-icon class="send" matTooltip="{{ t('balanceComponent.transactions.send.tooltip') }}"
                                *ngIf="isOwnId(transaction.sourceId)">arrow_downward</mat-icon>
                            <mat-icon class="send" matTooltip="{{ t('balanceComponent.transactions.send.tooltip') }}"
                                *ngIf="!isOwnId(transaction.sourceId)">empty</mat-icon>
                            <mat-icon class="receive"
                                matTooltip="{{ t('balanceComponent.transactions.receive.tooltip') }}"
                                *ngIf="isOwnId(transaction.destId)">arrow_upward</mat-icon>
                            <mat-icon class="receive"
                                matTooltip="{{ t('balanceComponent.transactions.receive.tooltip') }}"
                                *ngIf="!isOwnId(transaction.destId)">empty</mat-icon>
                        </div>
                        <div>
                            <div [class]="{copy: true, ownId: isOwnId(transaction.sourceId)}">
                                From: <span matTooltip="{{ t('general.copy.tooltip') }}"
                                    [cdkCopyToClipboard]="transaction.sourceId">{{ transaction.sourceId }} {{
                                    getSeedName(transaction.sourceId) }}</span>
                            </div>
                            <div [class]="{copy: true, ownId: isOwnId(transaction.destId)}">To: <span
                                    matTooltip="{{ t('general.copy.tooltip') }}"
                                    [cdkCopyToClipboard]="transaction.destId">{{ transaction.destId }} {{
                                    getSeedName(transaction.destId) }}</span></div>
                        </div>
                        <div>
                            <span *ngIf="transaction.created">Created: {{ transaction.created | date:'short'
                                }}<br></span>
                            <span *ngIf="transaction.broadcasted && !transaction.stored">Broadcasted: {{
                                transaction.broadcasted | date:'short' }}<br></span>
                            <span *ngIf="transaction.stored">Stored: {{ transaction.stored | date:'short' }}<br></span>
                            <span *ngIf="transaction.staged">Staged: {{ transaction.staged | date:'short' }}<br></span>
                            <span *ngIf="transaction.confirmed">Confirmed: {{ transaction.confirmed | date:'short'
                                }}</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <br>

    <br>
    <mat-card class="transfer-card">
        <mat-card-content>
            <div>
                {{ t("ipoComponent.description") }}
            </div>
        </mat-card-content>
    </mat-card>
  </div>
</ng-container>