.full-width {
    width: 100%;
}

.transfer-card {
    min-width: 120px;
    margin: 20px auto;
}

.mat-radio-button {
    display: block;
    margin: 5px 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 15px;
}

.col:last-child {
    margin-right: 0;
}

.padding button {
    margin: 10px;
}