@import "../../vars.scss";

.container {
  max-width: 1920px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


mat-sidenav-container{
  border: 1px solid #E0E0E0;
}

::ng-deep {
  .darkTheme {
    mat-sidenav-container{

      border: 0px solid #222930;
      border-top: 1px solid #222930;
    }
  }
}



h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.icon{
  font-size: 20px;;
}

.content-container {
  background-color: $darkBackgroundColor;
}

.open-wallet-screen{
  max-width: 700px;
  margin-top: 56px; 
  align-items: center; 
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}


.version {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.topIcons {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.left-icon-area {
  flex:1;
  display: flex;
  align-items: center;
}

.header_logo {
  flex:1;
  text-align: center;
}

.logo {
  max-height: 64px;
}

.is-mobile {
  h1 {
    font-size:1.2em;
  }
  .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  .logo {
    max-width: 150px;
  }
  .currentTick {
    max-width: 75px;
    .title {
      display: none;
    }
  }
}