<ng-container *transloco="let t">
  <div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar class="toolbar window-drag" (dblclick)="maximize()">
      <div class="left-icon-area window-no-drag" >
        <button mat-icon-button (click)="snav.toggle()" *ngIf="walletService.isWalletReady && !walletService.configError">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="header_logo">
        <img src="assets/logos/qubic_wallet_dark.svg" class="logo" *ngIf="themeService.isDarkTheme">
        <img src="assets/logos/qubic_wallet_light.svg" class="logo" *ngIf="!themeService.isDarkTheme">
      </div>
      <div class="topIcons window-no-drag">       
        <div *ngIf="walletService.isWalletReady && !walletService.configError && !mobileQuery.matches" class="currentTick"><span class="title">{{ t("general.currentTick", { tick: '' }) }} </span><span
            [class]="{'target-highlight': higlightTick}">{{ us.currentTick.getValue() | number: '1.0-0' }}</span>
        </div>
        <qli-notifys></qli-notifys>                     
        <qli-lock *ngIf="walletService.isWalletReady && !walletService.configError"></qli-lock>
        <qli-language-chooser></qli-language-chooser>
        <button *ngIf="showMinimize" (click)="minimize()" mat-icon-button><mat-icon>minimize</mat-icon></button>
        <button *ngIf="!mobileQuery.matches" [matTooltip]="t('general.buttons.maximize')" (click)="maximize()" mat-icon-button><mat-icon>maximize</mat-icon></button>
        <button *ngIf="!mobileQuery.matches" [matTooltip]="t('general.buttons.close')" (click)="close()" mat-icon-button><mat-icon>close</mat-icon></button>   
      </div>
    </mat-toolbar>
    <div *ngIf="walletService.configError" class="open-wallet-screen">
      <qli-config-error></qli-config-error>
    </div>
    <div *ngIf="!walletService.isWalletReady && !walletService.configError" class="open-wallet-screen">
      <qli-unlock></qli-unlock>
    </div>
    <mat-sidenav-container *ngIf="walletService.isWalletReady && !walletService.configError" class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav class="navigation" #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="."
            (click)="checkMobileToggle()"><mat-icon class="icon-color-link">home</mat-icon><span>{{t("general.navigation.home")}}</span></a>
          <a mat-list-item routerLink="payment"
            (click)="checkMobileToggle()"><mat-icon class="icon-color-link">payments</mat-icon>{{t("general.navigation.payment")}}</a>
          <a mat-list-item routerLink="balance"
            (click)="checkMobileToggle()"><mat-icon class="icon-color-link">account_balance</mat-icon>{{t("general.navigation.balance")}}</a>
          <a mat-list-item routerLink="assets"
             (click)="checkMobileToggle()"><mat-icon class="icon-color-link">category</mat-icon>{{t("general.navigation.assets")}} (!BETA!)</a>
          <a mat-list-item routerLink="voting"
            (click)="checkMobileToggle()"><mat-icon class="icon-color-link">how_to_vote</mat-icon>{{t("general.navigation.voting")}}</a>
          <a mat-list-item routerLink="ipo"
            (click)="checkMobileToggle()"><mat-icon class="icon-color-link">multiline_chart</mat-icon>{{t("general.navigation.ipo")}}</a>
          <a mat-list-item routerLink="settings"
            (click)="checkMobileToggle()"><mat-icon class="icon-color-link">settings</mat-icon>{{t("general.navigation.settings")}}</a>
        </mat-nav-list>

        <div>
          <div class="version">
            {{currentPrice.price}}
            {{currentPrice.currency}}<br>
            ~ {{currentPrice.capitalization| number : "1.0-0"}} {{currentPrice.currency}}<br>
            Σ {{currentPrice.supply | number : "1.0-0"}}<br>
            <br>
            <a href="#" (click)="themeService.toggleTheme()">Theme Switch</a>
            <br><br>
            {{t("general.version", { version: version})}}<br>
            <a href="https://qubic.li" target="_blank">&copy; {{t("general.version.url")}}</a><br>
          </div>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>  
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</ng-container>
