<ng-container *transloco="let t">
    <!-- <div *ngFor="let language of getSupportedLanguages()">
        <p>{{ language }}: {{ supportedLanguagesDictionary[language] }}</p>
      </div> -->
    <mat-form-field>
        <mat-select [(value)]="selected" (selectionChange)="changeLang($event)">
            <mat-option *ngFor="let languageKey of getSupportedLanguages()" [value]="languageKey">
                {{ supportedLanguagesDictionary[languageKey] }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>
