<ng-container *transloco="let t">
  <div style="position: fixed; top: 10px; right: 10px;">
    <button mat-icon-button [matMenuTriggerFor]="langMenu">
      <span class="material-icons">language</span>
    </button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item *ngFor="let languageKey of getSupportedLanguages()" (click)="changeLang({value: languageKey})">
        {{ supportedLanguagesDictionary[languageKey] }}
      </button>
    </mat-menu>
  </div>
</ng-container>

<ng-container *transloco="let t">
  <!-- <div *ngFor="let language of getSupportedLanguages()">
      <p>{{ language }}: {{ supportedLanguagesDictionary[language] }}</p>
    </div> -->
  <mat-form-field>
    <mat-select [(value)]="selected" (selectionChange)="changeLang($event)">
      <mat-option *ngFor="let languageKey of getSupportedLanguages()" [value]="languageKey">
        {{ supportedLanguagesDictionary[languageKey] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
